<h2 class="mb-4">Guess the Number Game</h2>
<p class="lead" id="guess">I am thinking of a number between <strong>{{random_range_start}} and {{random_range_end}}</strong>. Can you guess it?</p>

<div class="form-group">
    <input type="number" id="guessInput" class="form-control" placeholder="Enter your guess" min="{{random_range_start}}" max="{{random_range_end}}" name="inp"
    hx-get="/display_answer/" 
    hx-trigger="input" 
    hx-target="#feedback" 
    hx-swap="outerHTML">
    >
</div>


<button id="restartGame" class="btn btn-primary btn-block mb-4" 
        hx-get="/change_guess/" 
        hx-trigger="click" 
        hx-target="#guess" 
        hx-swap="innerHTML">
    Restart Game
</button>

<div id="feedback" class="alert alert-warning" role="alert">Make your guess!</div>